footer {
    background-color: #9c8c72;
    color: white;
    padding: 1rem;
    text-align: center;
    margin: 2rem 0 0;
}

.social-icons {
    list-style: none;
    display: flex;
}

ul.social-icons {
    justify-content: center;
}

ul li {
    flex-grow: 0.02;
}

.social-icons a {
    color: #faf9f9;
    border-radius: 15%;
    background-color: rgb(81, 80, 80);
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.social-icons a:hover {
    background-color: rgb(51, 49, 49);
}

.redes {
    padding-bottom: 0.5rem;
}
.contactosFooter{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contactosFooter li {
    list-style: none;
    color: white;
}

.contactosFooter ul {
    padding-left: 0;
}

.contactoFooterIzq, .contactoFooterDer {
    width: 47%;
    display: block;
    text-align: center;
}

.contactoFooterIzq {
    padding-left: 8rem;
}

.contactoFooterDer {
    padding-right: 8rem;
}
.contactanos{
    font-weight: bold;
}

@media screen and (min-width:100px) and (max-width :800px) {
    .contactosFooter{
        display: block;
    }
    .contactoFooterIzq, .contactoFooterDer {
        width: 98%;
        padding-left: 1rem;
        padding-right: 0;
   }
}