.tituloACercaDe h2 {
    color: #5b5b5b;
    padding: 2rem 3rem;
    text-align: left;
    background-color: rgba(156, 140, 114, 0.34);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0;
}


.foto_personas {
    width: 100%;
}

.quienesSomos {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

.quienes {
    width: 47%;
    padding: 10px;
    margin: 13px 0;
    display: block;
    justify-content: space-between;
    text-align: left;
}

.quienes p{
    line-height: 2rem;
    color: rgb(81, 80, 80);
}
