.tituloServicios h2 {
    color: #5b5b5b;
    padding: 2rem 3rem;
    text-align: left;
    background-color: rgba(156, 140, 114, 0.34);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .servicios {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .servicios h3{
    color:#9b742d;
    font-family: "Work Sans", Sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    padding-bottom: 0%;
  }
  .servicios p, ul {
    text-align: center;
    color: rgb(81, 80, 80);
    padding: 1rem;
    text-align: left;
   font-weight: 100;
   line-height: 2rem;
  }
  .contenedorServicio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;

}

.contServicio {
    background-color: rgb(156,140,114,0.34);
    border-radius: 2px;
    width: 31%;
    text-align: center;
    padding: 13px;
    /* margin: 16px 0; */
    box-sizing: border-box;
    justify-content: space-between;
    transition: 1.5s;

}

.contServicio img {
    border-radius: 2px;
    max-width: 100%;
    transition-duration: .4s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.contServicio img:hover {
    transform: translateY(8px);
}

.contServicio img {
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out
}

.contServicio img:active,
.contServicio img:focus,
.contServicio img:hover {
    transform: translateY(8px)
}

.contServicio h5 {
    margin: 0;
    color: rgb(81, 80, 80);
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
}



.contServicio a {
    text-decoration: none;
}
