*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}

.contenedor_inicio, .contenedor_registro{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
  }

.encabezado{
   padding-top: 15px;
   padding-bottom: 15px;
    background-color:rgb(160, 100, 21);
    display: flex;
   justify-content: center;
}

.bienvenido {
    color: whitesmoke;
    box-sizing: border-box;
    text-transform: uppercase;
}


/*formulario ingrso*/
.contacto_ingreso, .contacto_registro{
max-width: 960px;
 margin: 0 auto;
 margin-bottom: 30px;
}
.contacto_ingreso h2{
    color:#8a8787;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* padding-top: 10px; */
    text-align:left;
    padding-left: 10px;
}
.contacto_registro h2{
    color:#8a8787;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* padding-top: 10px; */
    text-align:left;
    padding-left:2px;
}
.contacto_ingreso h2, .contacto_registro h2{
    font-weight: lighter;
}
.formulario{
    padding:10px; 
    width: 40%;
    /* border: #8a8787 1px solid; */
    border-radius: 5px;
    margin:auto;
    margin-top: 6rem;
    background-color:whitesmoke;
   
}
.formulario p{
    margin-right: 0;
    color: #8a8787;
    
}
  .formulario p label{
    min-width:80px;/*espacio minimo que ocupa el label*/
    display:flex; /*caja contenedora*/
    align-items:center; /*para que quede la etiqueta en el medio de la caja*/
   
}  

.formulario p input, 
.formulario p textarea{
    width: 95%;
    /* background: #ddd; */
    /* border-radius: 5px; */
    border: none;
    border-bottom: #ccc 1px solid;
    font-size: 14px;
    padding: 6px 10px;
    background-color:whitesmoke;
}

.formulario input[type="submit"]{
    background:rgb(160, 100, 21);
    box-shadow: 0 0 10px rgba(0 ,0,0, 0.2);
    border-radius: 30px;
    color:whitesmoke;
    font-size: 20px;
    padding: 6px 20px;
    width:20rem; /*ancho del boton*/
    height: 3.5rem;
    /*position: relative;/*posicion del boton*/
   margin-left: 2rem;

    cursor: pointer; /*aparece la manito*/
    transition-duration: 1s;
}
.formulario input[type="submit"]:hover{
    background-color: rgb(104, 62, 8);/*cambia de color cuando pasa la manito*/
}

.registrarse {
border:none;
background:none;
color: rgb(160, 100, 21);
font-size: medium;
padding-left: 2rem;
}
.cuenta{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 1rem;
}




